{% extends "registration/base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-3 mb-3 shadow">
        <!-- カードヘッダー -->
        <div class="card-header" style="background-color: #addeaa; color: #333;">
          <h4>ログイン</h4>
        </div>
        <!-- カードボディー -->
        <div class="card-body">
          <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
              <div class="form-group">
                {% if field.label == "Username" %}
                <label for="{{ field.id_for_label }}" class="form-label">ユーザーネーム</label>
                {% else %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% endif %}
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                {% if field.errors %}
                  <div class="invalid-feedback">
                    {{ field.errors|join:", " }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
              <button type="submit" class="btn btn-lg btn-block mt-2" style="background-color: #addeaa; color: #333;">ログイン</button>
              <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
