{% extends "registration/base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- カードヘッダー -->
      <div class="card-header" style="background-color: #addeaa; color: #333;">
        <h4>パスワード更新完了</h4>
      </div>
      <!-- カードボディー -->
      <div class="card-body">
        <p>パスワードを更新しました。</p>
        <hr>
        <a href="{% url 'my_page' user.pk %}">マイページ</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
