{% extends "registration/base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- カードヘッダー -->
      <div class="card-header" style="background-color: #add8e6; color: #333;">
        <h4>ユーザー登録完了</h4>
      </div>
      <!-- カードボディー -->
      <div class="card-body">
        <p>ユーザー登録が完了しました。ログインページへお進みください。</p>
        <p class="text-danger">"パスワード"は大切に管理してください。</p>
        <hr>
        <a href="{% url 'login' %}">ログイン</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
