{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <title>カレンダー</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 互換表示の解除 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- アイコン -->
    <link rel="apple-touch-icon" sizes="192x156" href="{% static 'app/icon_192.png' %}">
    <link rel="icon" sizes="192x156" href="{% static 'app/icon_192.png' %}">
    <link rel="icon" sizes="512x415" href="{% static 'app/icon_512.png' %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    {% if form_error %}
      <script type="text/javascript">
          alert("{{ form_error|escapejs }}");
      </script>
    {% endif %}
    
    <!-- ナビバー -->
    
    {% include "app/_header.html" %}

    <!-- コンテンツ -->
    <div class="pl-4 small" style="background-color: #e2e3e5 ; border-bottom: solid 1px #f3f3f3;">
        {% if not user.is_authenticated %}
          こんにちは！ ゲスト さん
        {% else %}
          こんにちは！ {{ user.username }} さん
        {% endif %}
    </div>
    {% for message in messages %}
        <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </div>
    {% endfor %}
    
    {% block content %}{% endblock %}

  </body>
</html>
