{% extends "app/base.html" %}

<!-- コンテンツ -->
{% block content %}

<div class="container">
    <h1>{{ date }}</h1>
    <div id="plotly-div"></div>

    <script>
        const dataInput = {{ data|safe }};
        const currentUserId = {{ request.user.id }};  // 現在のユーザーIDを取得
    
        // 開始時間順にデータを逆ソート
        dataInput.sort((a, b) => (a.date + " " + a.Start) < (b.date + " " + b.Start) ? 1 : -1);

        const traces = dataInput.map((d, i) => {
            const color = !d.is_confirmed && !d.is_staff ? 'green' : 
                          d.is_confirmed ? 'grey' : 
                          d.is_staff ? 'red' : 'blue';  // fallback color in case none of the conditions are met
            return {
                type: 'scatter',
                mode: 'lines',
                x: [d.date + " " + d.Start, d.date + " " + d.Finish],
                y: [i, i],
                hoverinfo: 'text',
                text: d.shift,
                line: {
                    width: 20,
                    color: color,
                },
                name: d.shift
            };
        });
        
        const layout = {
            title: 'Gantt Chart',
            showlegend: false,
            xaxis: {
                type: 'date',
                range: [dataInput[0].date + " 5:30", dataInput[0].date + " 22:30"],
                dtick: 3600000,
                tickformat: '%H:%M',  // この行でx軸の日付を削除
                tickangle:30,
                showgrid: true,
                fixedrange: true,
            },
            yaxis: {
                showgrid: true,
                zeroline: false,
                tickvals: dataInput.map((_, i) => i),
                ticktext: dataInput.map(d => d.shift),
                fixedrange: true,
            },
            clickmode: 'event+select',
            dragmode: false,
            hovermode: 'closest',
            bargap: 0.4,  // グラフの棒部分の間隔を調整
            height: 100 + dataInput.length * 50,
        };
        
        const config = {
            {% comment %} responsive: true, {% endcomment %}
            displayModeBar: false  // UIツールバーを非表示に
        };
        
        Plotly.newPlot('plotly-div', traces, layout, config)


        document.getElementById('plotly-div').on('plotly_click', function(data){
            const idx = data.points[0].curveNumber;
            const shift = dataInput[idx];  // Shiftデータを取得

            if (shift.user_id === currentUserId) {  // ShiftのユーザーIDと現在のユーザーIDが一致するか確認
                const edit_url = `/calendar/edit/${shift.id}/`;
                window.location.href = edit_url;
            }
        });
    </script>

{% endblock %}