{% extends "app/base.html" %}

<!-- コンテンツ -->
{% block content %}

<div class="container">
    <h1>{{ date }}</h1>
    <div id="plotly-div"></div>

    {% if floor_shifts %}
        <div class="container pt-4 pb-4">
            <h4 class="pl-4">◆ フロア</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                        {% comment %} <th>代役名</th>
                        <th>ステータス</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for shift in floor_shifts %}
                    <tr class="clickable-row text-break"
                        data-shift-id="{{ shift.id }}"
                        data-shift-user-id="{{ shift.user_id }}"
                        data-shift-is-confirmed="{{ shift.is_confirmed|yesno:'true,false' }}"
                        data-shift-is-staff="{{ shift.is_staff|yesno:'true,false' }}"

                        style="background-color: 
                            {% if shift.is_confirmed %}#e8e8e8
                            {% elif shift.is_staff %}#ffe0e0
                            {% else %}#e8f8e0{% endif %};">
                        <td>{% if shift.is_confirmed %}{{ shift.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ shift.start_time }}</td>
                        <td>{{ shift.end_time }}</td>
                        {% comment %} <td>{% if shift.substitute_name %}{{ shift.substitute_name }}{% else %}-{% endif %}</td>
                        <td>{% if shift.is_confirmed %}確定済{% else %}未確定{% endif %}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    
    {% if kitchen_shifts %}
        <div class="container pt-4 pb-4">
            <h4 class="pl-4">◆ キッチン</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                        {% comment %} <th>代役名</th>
                        <th>ステータス</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for shift in kitchen_shifts %}
                    <tr class="clickable-row text-break"
                        data-shift-id="{{ shift.id }}"
                        data-shift-user-id="{{ shift.user_id }}"
                        data-shift-is-confirmed="{{ shift.is_confirmed|yesno:'true,false' }}"
                        data-shift-is-staff="{{ shift.is_staff|yesno:'true,false' }}"

                        style="background-color: 
                            {% if shift.is_confirmed %}#e8e8e8
                            {% elif shift.is_staff %}#ffe0e0
                            {% else %}#e8f8e0{% endif %};">
                        <td>{% if shift.is_confirmed %}{{ shift.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ shift.start_time }}</td>
                        <td>{{ shift.end_time }}</td>
                        {% comment %} <td>{% if shift.substitute_name %}{{ shift.substitute_name }}{% else %}-{% endif %}</td>
                        <td>{% if shift.is_confirmed %}確定済{% else %}未確定{% endif %}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    
    {% if all_shifts %}
        <div class="container pt-4 pb-4">
            <h4 class="pl-4">◆ オール</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                        {% comment %} <th>代役名</th>
                        <th>ステータス</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for shift in all_shifts %}
                    <tr class="clickable-row text-break"
                        data-shift-id="{{ shift.id }}"
                        data-shift-user-id="{{ shift.user_id }}"
                        data-shift-is-confirmed="{{ shift.is_confirmed|yesno:'true,false' }}"
                        data-shift-is-staff="{{ shift.is_staff|yesno:'true,false' }}"

                        style="background-color: 
                            {% if shift.is_confirmed %}#e8e8e8
                            {% elif shift.is_staff %}#ffe0e0
                            {% else %}#e8f8e0{% endif %};">
                        <td>{% if shift.is_confirmed %}{{ shift.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ shift.start_time }}</td>
                        <td>{{ shift.end_time }}</td>
                        {% comment %} <td>{% if shift.substitute_name %}{{ shift.substitute_name }}{% else %}-{% endif %}</td>
                        <td>{% if shift.is_confirmed %}確定済{% else %}未確定{% endif %}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script>
        function getDtickValue() {
            // If the window width is less than 768px (typical breakpoint for smartphones), set dtick for 3 hours, else 1 hour.
            return window.innerWidth < 768 ? 10800000 : 3600000;
        }
        const dataInput = {{ data|safe }};
        const currentUserId = {{ request.user.id }};  // 現在のユーザーIDを取得
        const is_staff = {{ is_staff|yesno:"true,false" }};
        const today = {{ date }}

        // positionに基づいてソートするための重みを設定
        function getPositionWeight(position) {
            if (position === "all") return 1;
            if (position === "kitchen") return 2;
            if (position === "floor") return 3;
            return 4; // 未知のpositionの場合
        }

        // positionに基づいて並べ替え、その後開始時間順に逆ソート
        dataInput.sort((a, b) => {
            const positionWeightA = getPositionWeight(a.position);
            const positionWeightB = getPositionWeight(b.position);
            if (positionWeightA !== positionWeightB) {
                return positionWeightA - positionWeightB;
            }
            return (a.date + " " + a.Start) < (b.date + " " + b.Start) ? 1 : -1;
        });

        const traces = dataInput.flatMap((d, i) => {
            const shiftColor = !d.is_confirmed && !d.is_staff ? 'green' : 
                               d.is_confirmed ? 'grey' : 
                               d.is_staff ? 'red' : 'blue';  // シフトの色
        
            const shiftTrace = {
                type: 'scatter',
                mode: 'lines',
                x: [d.date + " " + d.Start, d.date + " " + d.Finish],
                y: [i, i],
                hoverinfo: 'text',
                text: d.shift,
                line: {
                    width: 20,
                    color: shiftColor,
                },
                name: d.shift
            };
        
            // 休憩時間がある場合のトレースを追加
            let breakTrace = null;
            if (d.breakStart && d.breakFinish) {
                breakTrace = {
                    type: 'scatter',
                    mode: 'lines',
                    x: [d.date + " " + d.breakStart, d.date + " " + d.breakFinish],
                    y: [i, i],
                    hoverinfo: 'text',
                    text: '休憩',
                    line: {
                        width: 20,  // シフトと同じ幅
                        color: 'yellow',  // 休憩時間の色
                    }
                };
            }
        
            return [shiftTrace, breakTrace].filter(trace => trace !== null);
        });
        
        
        const layout = {
            title: "シフト",
            showlegend: false,
            xaxis: {
                type: 'date',
                range: [dataInput[0].date + " 5:30", dataInput[0].date + " 22:30"],
                dtick: getDtickValue(),
                tickformat: '%H:%M',  // この行でx軸の日付を削除
                tickangle:30,
                showgrid: true,
                fixedrange: true,
            },
            yaxis: {
                showgrid: true,
                zeroline: false,
                tickvals: dataInput.map((_, i) => i),
                ticktext: dataInput.map(d => d.shift),
                fixedrange: true,
            },
            clickmode: 'event+select',
            dragmode: false,
            hovermode: 'closest',
            bargap: 0.4,  // グラフの棒部分の間隔を調整
            height: 100 + dataInput.length * 50,
        };
        
        const config = {
            {% comment %} responsive: true, {% endcomment %}
            displayModeBar: false  // UIツールバーを非表示に
        };
        
        Plotly.newPlot('plotly-div', traces, layout, config)

        document.getElementById('plotly-div').on('plotly_click', function(data){
            const idx = data.points[0].curveNumber;
            const shift = dataInput[idx];  // Shiftデータを取得

            if (shift.user_id === currentUserId && shift.is_confirmed === false) {  // ShiftのユーザーIDと現在のユーザーIDが一致するか確認
                const edit_url = `/calendar/edit/${shift.id}/`;
                window.location.href = edit_url;
            } else if (is_staff === true && shift.is_staff === false && shift.is_confirmed === false) {
                const isConfirmed = confirm("このシフトを確定しますか？\n※この操作は取り消しできません。");
                if (!isConfirmed) {
                    // ユーザーが「キャンセル」を選択した場合、遷移をキャンセルする
                    event.preventDefault();
                } else {
                    const confirm_url = `/calendar/confirm/${shift.id}/`;
                    window.location.href = confirm_url;  
                }
            } else if (is_staff === false && shift.is_staff === true && shift.is_confirmed === false) {
                const isConfirmed = confirm("このシフトを確定しますか？\n※この操作は取り消しできません。");
                if (!isConfirmed) {
                    // ユーザーが「キャンセル」を選択した場合、遷移をキャンセルする
                    event.preventDefault();
                } else {
                    const confirm_url = `/calendar/confirm/${shift.id}/`;
                    window.location.href = confirm_url;  
                }
            }
        });
        


        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('.clickable-row');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    const shiftId = this.getAttribute('data-shift-id')
                    const shiftUserId = this.getAttribute('data-shift-user-id')
                    const shiftIsConfirmed = this.getAttribute('data-shift-is-confirmed') === 'true';
                    const shiftIsStaff = this.getAttribute('data-shift-is-staff') === 'true';
                    

                    if (shiftUserId === currentUserId.toString() && !shiftIsConfirmed) {  // ShiftのユーザーIDと現在のユーザーIDが一致するか確認
                        const edit_url = `/calendar/edit/${shiftId}/`;
                        window.location.href = edit_url;
                    } else if (is_staff && !shiftIsStaff && !shiftIsConfirmed) {
                        const isConfirmed = confirm("このシフトを確定しますか？\n※この操作は取り消しできません。");
                        if (!isConfirmed) {
                            // ユーザーが「キャンセル」を選択した場合、遷移をキャンセルする
                            event.preventDefault();
                        } else {
                            const confirm_url = `/calendar/confirm/${shiftId}/`;
                            window.location.href = confirm_url;  
                        }
                    } else if (!is_staff && shiftIsStaff && !shiftIsConfirmed) {
                        const isConfirmed = confirm("このシフトを確定しますか？\n※この操作は取り消しできません。");
                        if (!isConfirmed) {
                            // ユーザーが「キャンセル」を選択した場合、遷移をキャンセルする
                            event.preventDefault();
                        } else {
                            const confirm_url = `/calendar/confirm/${shiftId}/`;
                            window.location.href = confirm_url;  
                        }
                    }
                })
            });
        });
    </script>

{% endblock %}