{% extends "app/base.html" %}

{% block content %}
<div class="container">
    <div class="row m-3">
      <div class="col-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
      </div>
      <div class "col-8">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-start align-items-center mb-3" style="white-space: nowrap; overflow: hidden;">
              <div style="width: 20px; height: 20px; background-color: rgba(255, 232, 224, 1.0); border-radius: 50%; margin-right: 10px;"></div>
              <span>確定済</span>
            </div>
          </div>
        </div>   
      </div>
    </div>
</div>
<div class="container mt-4">
    <h2>My Shifts</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>日付</th>
                <th>開始時間</th>
                <th>終了時間</th>
                {% if user.is_staff %}
                    <th>代役名</th>
                {% endif %}
                <th>ポジション</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            {% for shift in shifts %}
            <tr class="clickable-row text-break" data-href="/calendar/edit/{{shift.id}}/" style="background-color: 
                {% if shift.date >= today and shift.is_confirmed %}#ffe8e0
                {% elif shift.date <= today %}#e8e8e8  {# より薄い灰色に変更 #}
                {% else %}#ffffff{% endif %};">
                <td>{{ shift.date }}</td>
                <td>{{ shift.start_time }}</td>
                <td>{{ shift.end_time }}</td>
                {% if user.is_staff %}
                    <td>{% if shift.substitute_name %}{{ shift.substitute_name }}{% else %}-{% endif %}</td>
                {% endif %}
                <td>{% if shift.position == "all" %}FK{% elif shift.position == "floor" %}F{% elif shift.position == "kitchen" %}K{% else %}-{% endif %}</td>
                <td>{% if shift.is_myself %}確認用{% elif shift.is_confirmed %}確定済{% else %}未確定{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="m-3 pagination">
        <span class="step-links">
            {% if shifts.has_previous %}
                <a href="?page=1">&laquo; 最初</a>
                <a href="?page={{ shifts.previous_page_number }}">前</a>
            {% endif %}

            <span class="current">
                ページ {{ shifts.number }} / {{ shifts.paginator.num_pages }}
            </span>

            {% if shifts.has_next %}
                <a href="?page={{ shifts.next_page_number }}">次</a>
                <a href="?page={{ shifts.paginator.num_pages }}">最後 &raquo;</a>
            {% endif %}
        </span>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('.clickable-row');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    window.location.href = this.dataset.href;
                });
            });
        });
    </script>
</div>
{% endblock %}
